/*********
PAGE SETUP
*********/

:root {
	font-family: 'Manrope', sans-serif;
	font-size: 15px;

	/*Full Slider Bar*/
	--soft-cyan: hsl(174, 77%, 80%);
	/*Slider Backround*/
	--strong-cyan: hsl(174, 86%, 45%);
	/*Discount Background*/
	--light-grayish-red: hsl(14, 92%, 95%);
	/*Discount Text*/
	--light-red: hsl(15, 100%, 70%);
	/*CTA Text*/
	--pale-blue: hsl(226, 100%, 87%);
	/*Pricing Component Background*/
	--white: hsl(0, 0%, 100%);
	/*Main Background*/
	--very-pale-blue: hsl(230, 100%, 99%);
	/*Empty Slider Bar*/
	--light-grayish-blue-slider: hsl(224, 65%, 95%);
	/*Toggle Background*/
	--light-grayish-blue-toggle: hsl(223, 50%, 87%);
	/*Text*/
	--grayish-blue: hsl(225, 20%, 60%);
	/*Text & CTA Background*/
	--dark-desaturated-blue: hsl(227, 35%, 25%);
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--very-pale-blue);
}

p {
	color: var(--grayish-blue);
	font-size: .8rem;
	margin: 0;
}

.app {
	overflow-x: hidden;
}

.main {
	position: absolute;
	top: 3em;
	left: 0;
	right: 0;
}

.card {
	border-radius: 10px;
	box-shadow: 5px 5px 10px var(--light-grayish-blue-slider);
}

.background-image {
	position: relative;
	top: -3.2em;
}

@media (min-width: 900px) {
	:root {
		font-size: 17px;
	}

	.background-image {
		top: 0;
	}
}

/*******
REUSABLE 
*******/

.container {
	width: 88%;
	max-width: 540px;
	margin: 0 auto;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}

@media (min-width: 900px) {
	.container {
		width: 82.5%;
	}
}

/*****
HEADER
*****/

.header {
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3.7em;
	margin-bottom: .7em;
}

.header h3{
	color: var(--dark-desaturated-blue);
	font-size: 1.325rem;
	margin: 0;
	margin-bottom: .5em;
}

.header p {
	font-size: .8rem;
	letter-spacing: .75px;
	line-height: 1.5rem;
}

@media (min-width: 900px) {
	.header {
		margin-bottom: 1.75em;
	}

	.header h3 {
		font-size: 1.65rem;
		margin-bottom: .3em;
	}

	.header__text {
		display: flex;
		justify-content: center;
		gap: .25em;
	}
}

/******
PRICING 
******/

.pricing {
	background-color: white;
	border-bottom: 1px solid var(--light-grayish-blue-slider);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2.25em 0 2.75em 0;
}

.pricing__views {
	font-size: .825rem;
	letter-spacing: 1.5px;
	text-align: center;
	margin: 0 auto 3em auto;
}

.slider-container {
	margin-bottom: 2.6em;
}

.slider {
	-webkit-appearance: none;
	-webkit-transition: 0.2s;
	cursor: pointer;
	display: block;
	background: linear-gradient(90deg, 
		var(--soft-cyan) 50%,
		var(--light-grayish-blue-slider) 50%);
	border-radius: 10px;
	height: 8px;
	margin: 0 auto;
	width: 100%;
}

.slider::-webkit-slider-thumb {
	webkit-appearance: none;
	appearance: none;
	background-color: var(--strong-cyan);
	background-image: url(./images/icon-slider.svg);
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	cursor: pointer;
	height: 40px;
	width: 40px;
}

.slider::-webkit-slider-thumb:hover {
	filter: contrast(125%);
}

.slider::-webkit-slider-thumb:active {
	filter: contrast(75%);
	cursor: grabbing;
}

.slider::-moz-range-thumb {
	background-color: var(--strong-cyan);
	background-image: url(./images/icon-slider.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	border-radius: 50%;
	box-shadow: 0 1em 1em var(--soft-cyan);
	cursor: pointer;
	height: 40px;
	width: 40px;
}

.slider::-moz-range-thumb:hover {
	filter: contrast(125%);
}

.slider::-moz-range-thumb:active {
	filter: contrast(75%);
	cursor: grabbing;
}

.slider-dollars {
	color: var(--dark-desaturated-blue);
	font-size: 2.1rem;
	font-weight: bold;
	letter-spacing: 0px;
}

.slider-dollars__container--mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .75em;
	margin-bottom: 2.25em;
}

.slider-dollars__container--desktop {
	display: none;
}

.slider-dollars__month {
	font-size: .9rem;
}

.billing {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .6em;
	margin: 0 auto;
	padding-left: 1.7em;
}

.billing__discount {
	background-color: var(--light-grayish-red);
	border-radius: 10px;
	color: var(--light-red);
	font-size: .625rem;
	padding: .25em .75em;
}

.billing__discount--desktop {
	display: none;
}

@media (min-width: 900px) {
	.slider-dollars__container--desktop {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: .75em;
		margin-bottom: 2.25em;
	}

	.slider-dollars__container--mobile {
		display: none
	}

	.slider-dollars {
		font-size: 2.3rem;
	}

	.pricing__views {
		font-size: .85rem;
		margin: 0 0 3em 0;
	}

	.slider-container {
		margin-bottom: 3.5em;
	}

	.billing {
		padding-left: 5em;
		gap: .75em;
	}

	.billing__text {
		font-size: .7rem;
	}

	.billing__discount--mobile {
		display: none;
	}

	.billing__discount--desktop {
		display: block;
	}
}


 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grayish-blue-toggle);
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  top: 2px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle {
  background-color: var(--soft-cyan);
}

input:checked + .toggle:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded toggles */
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
} 


/**********
ACTION CALL 
**********/

.action-call {
	background-color: white;
	padding: 1.5em 0;
}

.action-call__column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.action-call__bullets {
	display: flex;
	flex-direction: column;
	gap: .6em;
	margin-bottom: .8em;
}

.action-call__item {
	display: flex;
	align-items: center;
	gap: 1em;
	margin: 0 auto;
}

.action-call__text {
	font-size: .8rem;
}

.btn {
	border: none;
	border-radius: 100px;
	background-color: var(--dark-desaturated-blue);
	color: var(--pale-blue);
	cursor: pointer;
	padding: 1em 3.3em;
	margin-top: 1.5em;
	margin-bottom: .75em;
}

.btn:hover, .btn:focus {
	color: white;
}

@media (min-width: 900px) {
	.action-call__column {
		flex-direction: row;
		justify-content: space-between;
	}

	.action-call__item {
		margin: 0;
	}

	.action-call__text {
		font-size: .7rem;
	}

	.btn {
		margin: 0;
	}
}